.sidebar {
    border: solid;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 30%;
}

.sidebar-btn {
    width: 80px;
    height: 40px;
    border: 2px solid gray;
    background: transparent;
    color: gray;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar-btn.active {
    border-color: limegreen;
    color: limegreen;
}

.sidebar-btn:hover {
    border-color: lightgreen;
    color: lightgreen;
}

.arrow {
    width: 40px;
    height: 40px;
    font-size: 18px;
}
